@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>My name is vitali and this is my new site!</p>
    <p>enjoy in your visit!</p>
</div>
